body{
    background-color: #266D61;
    margin: 3%;
    padding : 30px 10% 30px 10%  ; /*상,우,하,좌 */
    text-align: center;
    
}

div {
    border-style: double;
    margin: 30px;
    padding: 30px 0px 30px 0px;
    background-color: #F0EE89;
}

h1{
    color: floralwhite;

}

h1>a{
    color :floralwhite;
}

h2 {
    color:darksalmon;
}

h3 {
    color: aquamarine;
}

h4 {
    text-align: center;
    color: #311E00;
}

h5{
    font-size: 18px;
    color:#54542E;
}

h6>a{
    text-decoration: none;
    text-align: center;
    color:#C9052E;
    font-size: 23px;    

}  

form {
    display: inline-block;
    width: 200px;
    height: 120px;
    margin: 1em;
    border: 2px double black;
    background-color: #F0EE89;
}
input {
    border: 1px double ;
    width: 150px;
    height: 20px;
    margin-top: 2px;
}
button {
    margin: 10px;
}
a {
    text-decoration: none;
  
}

body>a {
    text-decoration: none;
    text-align: right;
    color: yellow;
}

details {
    border: double ;
    display: inline-block;
    background-color:#7EF0D2;
    padding: 10px ;
    color: #54542E;
    position:absolute;
    right: 1%;
    top: 1%;
}
details ul {
    margin: 0;
}

details li {
    margin: 0;
    text-align: left
}

details a {
    text-align: left;
    color: #54542E;
    font-size: 14px;
    line-height: 1.3;
}

summary {
    padding: 0px 20px;
}

table{
    display: inline-block;
    text-align: center;
}

div>table {
    font-size: 15px;

}
td {
    padding: 10px;
    color: #C9052E;
    
}

form td{
    padding: 3px;
}